.order{ data: { id: order_ticket.id } }
  - unless order_ticket.gofer_run
    = link_to "delete", order_path(order_ticket), method: :delete, data: { delete: "" }
  - if order_ticket.gofer_run
    %h3= order_ticket.description
  - else
    %h3= truncate(order_ticket.description, length: 25, omission: "...")
  %p= "#{order_ticket.user.name} @ #{Time.zone.parse(order_ticket.created_at.to_s).strftime("%l:%M%P")}"