!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    
    %title= content_for?(:title) ? yield(:title) : "Gofer"
    
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" }
    
    = csrf_meta_tags
    = stylesheet_link_tag "http://fast.fonts.com/cssapi/91ad6674-bdec-48e5-81b8-41b300a00874.css", media: "all"
    
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
      
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", media: "all"
    = yield :asset_includes
    
    /start Mixpanel
    :javascript
      (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
      typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
      b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
      mixpanel.init("e989f334d8689f8e70a946bd611fe0d7");
    /end Mixpanel
    
    - if current_user
      :javascript
        mixpanel.alias("#{current_user.email}");
      

  %body
    %header
      %a{ href: root_path }
        %img.logo{ src: "/assets/logo.svg", alt: "Go Go Gofer" }
      %img.menu{ src: "/assets/menu.svg", alt: "Menu" }
      %nav
        %ul
          - if current_user
            %li= link_to "Dashboard", dashboard_path
            %li= link_to "Settings", settings_path
          %li 
            - if current_user
              = link_to "Log Out", log_out_path
            - else
              = link_to "Log In", log_in_path
      - if flash[:notice]
        .flash
          %p= flash[:notice]

    %section#content
      = yield
