!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    
    %title= content_for?(:title) ? yield(:title) : "Gofer"
    
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    
    = csrf_meta_tags
    = stylesheet_link_tag "http://fast.fonts.com/cssapi/91ad6674-bdec-48e5-81b8-41b300a00874.css", media: "all"
    
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
      
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", media: "all"
    = yield :asset_includes


  %body
    %header
      %h1 Go Go Gofer
      - if current_user
        = link_to "Log Out", log_out_path, class: "log-in-out"
      - else
        = link_to "Log In", log_in_path, class: "log-in-out"

    %section#content
      = yield
