!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    
    %title= content_for?(:title) ? yield(:title) : "Gofer"
    
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" }
    
    = csrf_meta_tags
    = stylesheet_link_tag "http://fast.fonts.com/cssapi/91ad6674-bdec-48e5-81b8-41b300a00874.css", media: "all"
    
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
      
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", media: "all"
    = yield :asset_includes


  %body
    %header
      %a{ href: root_path }
        %img.logo{ src: "/assets/logo.svg", alt: "Go Go Gofer" }
      %img.menu{ src: "/assets/menu.svg", alt: "Menu" }
      %nav
        %ul
          - if current_user
            %li= link_to "Dashboard", dashboard_path
            %li= link_to "Settings", settings_path
          %li 
            - if current_user
              = link_to "Log Out", log_out_path
            - else
              = link_to "Log In", log_in_path
      - if flash[:notice]
        .flash
          %p= flash[:notice]

    %section#content
      = yield
